In [3]:
import pandas as pd
amd = pd.read_csv(r"C:\Users\Shaurya Tiwari\OneDrive\Desktop\python\Projects on Data Analysis\Data Set CSV\AMD.csv", header=0, index_col='Date', parse_dates=True)

In [5]:
amd.head(3)

             Open   High    Low  Close  Adj Close   Volume
Date
2003-12-31  15.20  15.20  14.81  14.90      14.90  7395900
2004-01-02  15.10  15.11  14.77  14.86      14.86  8220700
2004-01-05  15.05  15.27  15.01  15.20      15.20  9156000

In [6]:
amd.shape

(3953, 6)

In [7]:
amd.describe()

,Open,High,Low,Close,Adj Close,Volume
count,3953.000000,3953.000000,3953.000000,3953.000000,3953.000000,3.953000e+03
mean,10.870450,11.083322,10.640293,10.858219,10.858219,3.033934e+07
std,8.508267,8.665403,8.335102,8.499793,8.499793,2.991771e+07
min,1.620000,1.690000,1.610000,1.620000,1.620000,0.000000e+00
25%,4.010000,4.060000,3.910000,4.000000,4.000000,1.277820e+07
50%,7.880000,8.040000,7.710000,7.910000,7.910000,2.054760e+07
75%,15.050000,15.300000,14.740000,14.990000,14.990000,3.581690e+07
max,41.980000,42.700001,40.619999,42.099998,42.099998,3.250584e+08